/* IDK script */

/* to the top button */

#topBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	/* background: #e74c3c; */
	background-image: linear-gradient(to bottom right, #5e42a6, #b74e91);
	color: white;
	border: none;
	cursor: pointer;
	display: none;
	z-index: 1;
	text-align: center;
	line-height: 40px;
}

#topBtn:active {
	background: #ffffff;
	color: #5e42a6;
}
/* End to the top button */

/* hamburger menu */

